src/main/mule/gmail.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d85d2685-a5f2-4bd5-9646-8ddab587b239" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="0c2c3376-5db2-4929-bb6d-e3a2ad99de2d" >
		<email:smtp-connection host="smtp.gmail.com" user="chittelusivanagaraju@gmail.com" password="irec kppn tatx otyb" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="1b0a828d-7bb0-42d3-80e3-e3fc45ff8f84" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="34cf0134-6eb3-4eef-83e5-505262dca11e" >
		<file:connection workingDir="C:\Users\VSK\Desktop\nani" />
	</file:config>
	<flow name="gmailFlow" doc:id="30e84d14-647a-4710-86d4-781d915025e4" >
		<http:listener doc:name="81/gmail" doc:id="1027d930-cd3e-4ab8-b3b1-07afb98b903a" config-ref="HTTP_Listener_config" path="/gmail"/>
		<set-payload value='#[{&#10;	"message"  : "email sent succesfully"&#10;}]' doc:name="Set Payload" doc:id="f9c7d027-4958-4672-94c3-e5ed42b7bf6d" />
		<email:send doc:name="Send" doc:id="bccb103c-13cf-42bf-9bbc-d253e3650c72" config-ref="Email_SMTP" fromAddress="chittelusivanagaraju@gmail.com" subject="mulesoft_payload">
			<email:to-addresses >
				<email:to-address value="siva.chittelu@gmail.com" />
			</email:to-addresses>
			<email:body contentType="#[application/json]" >
				<email:content ><![CDATA[#[{
	"message1" : "this is nani mail"
}]]]></email:content>
			</email:body>
		</email:send>
		<logger level="INFO" doc:name="Logger" doc:id="f40da512-5d93-402e-95bc-4c572d00283f" message="#[payload]"/>
	</flow>
	<flow name="gmailFlow1" doc:id="e2ca02c9-79a2-4d59-9e67-47ec7d543667" >
		<http:listener doc:name="82/attachment" doc:id="aeaf20f3-29ac-46a5-b589-2df5106a5882" config-ref="HTTP_Listener_config1" path="/attachment"/>
		<set-variable value="#[attributes.queryParams.file]" doc:name="fileName" doc:id="ac96a6e1-c8d0-4929-a9ea-ef0e6ee08da6" variableName="fileName"/>
		<file:read doc:name="Read" doc:id="63f0ebe5-2abf-4def-995e-fab7fdc72a38" config-ref="File_Config" path="#[vars.fileName ++ '.json']"/>
		<email:send doc:name="Send" doc:id="4e27740c-f2ce-4839-9a70-43faac4d52d8" config-ref="Email_SMTP" fromAddress="chittelusivanagaraju@gmail.com" subject='"attachment from nani in mulesoft"'>
			<email:to-addresses >
				<email:to-address value="siva.chittelu@gmail.com" />
			</email:to-addresses>
			<email:body >
				<email:content ><![CDATA[#["please fin the attachment below"]]]></email:content>
			</email:body>
			<email:attachments ><![CDATA[#[{
	"attachment.json" : payload
}]]]></email:attachments>
		</email:send>
	</flow>
</mule>
